html {
  box-sizing: border-box;
  font: normal 100%/1.5 "Lato", sans-serif;
  background-color: #f2f2f2;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

section {
  text-align: center;
  margin: 0;
  padding: 1em 0;
}

.img {
  display: inline-block;
  width: 100%;
  max-width: 25em;
  vertical-align: middle;
  padding: 1.5em;
}

.img img {
  width: 100%;
  display: block;
}

section div {
  display: inline-block;
  width: 100%;
  max-width: 25em;
  text-align: left;
  vertical-align: middle;
  padding: 1.5em;
}

h2 {
  margin-top: 0;
  font-size: 1.5em;
}

.btn {
  display: inline-block;
  color: #000;
  border: 3px solid #333;
  border-radius: 10px;
  text-decoration: none;
  padding: 0.5em 0.75em;
  font-size: 1.125rem;
}

.btn:hover {
  display: inline-block;
  color: #fff;
  border: 3px solid #666;
  background-color: #666;
  border-radius: 10px;
  text-decoration: none;
  padding: 0.5em 0.75em;
  font-size: 1.125rem;
}
